.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text);
}

.wrapper {
    width: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;

}

.form input {
    padding: 20px;
    background-color: var(--bg);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
}

.form button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .wrapper{
        width: 100%;
    }
    .title {
        font-size: 0.9rem;
    }
}