.container {
    display: flex;
    align-items: center;
    gap: 50px ;

}

.imgContainer {
    width: 50%;
    position: relative;
    margin-left: -4%;
}

.img {
    object-fit: contain;
}

.formContainer {
    flex: 1;
}

.description{
    font-size: 17px;
    padding-bottom: 3%;
    font-weight: 300;
}

.title{
    font-size: 60px;
}

.form {
display: flex;
flex-direction: column;
gap: 20px;
}

.form input,
.form textarea{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--bgSoft);
    color: var(--text);
}

.form button {
    padding: 20px;
    background-color: var(--btn);
    color: var(--text);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap-reverse;
    }
    .imgContainer {
        width: 85%;
        margin-left: 0;
    }
    .title {
        text-align: center;
    }
    .description {
        text-align: center;
    }
}