.container {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow-wrap: break-word;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.img {
    object-fit: cover;
    width: 75%;
}

.textContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;

}

.title {
    font-size: 5vw;
    text-align: center;
    width: 100%;
}

.detail {
    display: flex;
    gap: 20px;
}

.detailText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailTitle{
    color: gray;
    font-weight: 500;
}

.detailValue {
    font-weight: 500;
}

.link:hover {
    color: var(--btn);
    cursor: pointer;
}

.content {
    font-size: 20px;
    color: white;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-family: 'Roboto', sans-serif;
}

@media (max-width:768px) {
    .imgContainer {
        display: none;
    }
}