.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text);
}

.wrapper {
    width: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
}

.google{
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .wrapper{
        width: 100%;
    }
    .title {
        font-size: 0.9rem;
    }
}