.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    color: gray;
    padding-bottom: 0.5%;
}

.logo {
    font-weight: bold;
}

.text {
    font-size: 12px;
}